* {
    margin: 0;
    padding: 0;
    background: #e1ffe1;
}

body {
    width: 80%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}

p {
    font-size: 35px;
    text-indent: 2em;
}


a {
    font-size: 35px;
    /* text-decoration: none; */
    /* color: black; */
}