* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/*@font-face {*/
/*    font-family: 'MiSans';*/
/*    src: url('fonts/MiSans-Regular.woff2') format('woff2');*/
/*}*/

/*@font-face {*/
/*    font-family: 'JetBrainsMono';*/
/*    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2');*/
/*}*/

/*!* 设置默认字体和背景颜色 *!*/
/*body {*/
/*    font-family: 'MiSans', sans-serif;*/
/*}*/

/* 清除浮动 */
/*.clearfix::after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

/* 去除列表样式 */
ul, ol {
    list-style: none;
}

/* 链接样式 */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
}