body {
    background: #00cdaf;
    user-select: none;
}

#body {
    background-color: inherit;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 20%;
}

.a-link {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 12px;
    border-radius: 30%;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.2);
}

.link-img {
    /* 图片定位 */
    position: absolute;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    top: 50%;
    margin-top: -42px;
    left: 50%;
    margin-left: -32px;
}

.link-p {
    /* 文本定位 */
    position: absolute;
    width: 68px;
    bottom: 6px;
    left: 50%;
    margin-left: -34px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    font-weight: bold;
}

.a-link:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px rgba(255, 255, 255, 0.4),
    12px 12px 20px rgba(0, 0, 0, 0.2) inset,
    -12px -12px 20px rgba(255, 255, 255, 0.4) inset;
}

.a-link:active {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2) inset,
    -10px -10px 30px rgba(255, 255, 255, 0.4) inset;
}